version: '3.8'

services:
  # Servicio del Cocinero (La API)
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    networks:
      - mlops-network

  # Servicio de la Cara (El Dashboard)
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    ports:
      - "8501:8501"
    depends_on:
      - api
    networks:
      - mlops-network

networks:
  mlops-network:
    driver: bridge